.social-icons i {
  font-size: 24px;
  display: inline-block;
  color: #789283;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #789283;
  border-radius: 50%;
  line-height: 38px;
  margin-top: 20px;
}

.social-icons i:hover {
  color: #9FADAA;
  border-color: #9FADAA;
}

.tooltip > .tooltip-inner {
  background-color: #789283;
}

.tooltip .arrow:before {
  border-top-color: #789283;
}

.mh-100vh {
  min-height: 100vh;
}

.shadow {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
}

#egresoSeccion {
  margin-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
}

#acercaDe {
  text-align: center;
  color: #CF3E6E;
  font-weight: 700;
  font-family: 'Merriweather';
}

#parrafoacd {
  font-size: 1.2rem;
  font-family: 'Spectral';
  color: #868e96;
}

#imag {
  width: 100%;
}

