#gridImagen {
  display: grid;
}

.new-line-span {
  display: block;
  font-weight: normal;
  font-size: 13px;
}

.social-links.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
}

.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 2rem;
}

.links {
  margin-top: 2rem;
}

@media (min-width: 300px) {
  #paragramDirec {
    width: 50%;
  }
}

@media (min-width: 300px) {
  #paragramCorreo {
    width: 30%;
    font-size: 0.9rem;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 768px) {
  #paragramCorreo {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    max-width: 33.3%;
  }
}

@media (min-width: 992px) {
  #paragramDirec {
    width: 70%;
  }
}

@media (min-width: 992px) {
  #paragramCorreo {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  #paragramDirec {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  #paragramCorreo {
    font-size: 1.3rem;
  }
}

.bg-primary {
  background-color: #82002C !important;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #82002C;
  border-top: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  border-style: solid;
  opacity: 1;
}

hr:not([size]) {
  height: 1px;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(130, 0, 44 ,.9);
  transition: all .2s;
}

.text-primary {
  color: #82002C !important;
}

.btn-outline-primary:hover {
  color: white;
  background-color: rgba(130, 0, 44 ,0.8);
  border-color: rgba(130, 0, 44 ,.8);
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  font-size: 18px;
  color: #FFF;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}

